.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  padding: 8px 12px;
  width: 20%;
  color: #002033;
  text-decoration: none;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
}

.image {
  transition: 0.3s;
  display: block;
  width: 100%;
}

.image:hover {
  transform: scale(1.06);
  backface-visibility: hidden;

  display: block;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #002033;
  text-decoration: none;
}
