.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px 0px;
}

.imageContainer {
  overflow: hidden;
}

.image {
  border-radius: 4px;
  transition: 0.3s;
}

.image:hover {
  transform: scale(1.1);

  display: block;
}

.name {
  padding: 10px 0px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #002033;
}
