.container {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.salesHits {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  padding: 30px 0px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
