.blockBackground {
  background-color: #152934;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 40px;
}

.linksBlock {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 285px;
  width: 100%;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: white;
  text-decoration: none;
}

.link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 4px 0px;
}

.text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: start;
  padding: 2px 0px;
}

.secondBlockBackground {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #0c1820;
}

.allRightsReserved {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: white;
}
